:root {

    /* background colors */
    --main-bg-color: #0E3926;
    --second-bg-color: #43D092;


    /* Font colors */
    --main-font-color: #fff;
    --second-font-color: #43D092;
    --second-font-color-soft: #6bcfa4;

    /* font sizes */
    --large: 2rem;
    --mid: 1.5rem;

    --border-radius: 10px;

    /* box model */
    --section-padding: 4rem 2rem;
    --navbar-height: 60px;
    --section-width: 80%;

}

@media (max-width:1000px) {
    :root {
        /* box model */
        --section-padding: 2rem 1rem;
        --section-width: 90%;

        /* font sizes */
        --large: 1.9rem;
        --mid: 1.5rem;

    }
}

@media (max-width:768px) {
    :root {
        /* box model */
        --section-padding: 2rem 1rem;
        --section-width: 90%;
    }
}